<!DOCTYPE html>
<html>
<head>
<title>Yuh Jye Lee</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Allerta|Hammersmith+One" rel="stylesheet">
</head>
<body>
<div class="container">
  <section class="header">
    <h1 class="text-center"><a href="index.html" id="name">Yuh Jye Lee</a></h1>
  </section>
  <nav>
    <div class="menuToggle menuToggle-m">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul class="menu menu-m text-center">
        <li><a href="projects.html">Projects</a></li>
        <li><a href="#">Publications</a></li>
        <li><a href="">Lab</a></li>
        <li><a href="teaching.html">Teaching</a></li>
        <li><a href="downloads.html">Download</a></li>
      </ul>
    </div>
  </nav>
  <h2 class="underline">Lab Reading List</h2>
  <ul>
      <li><a href="{% static 'assets/file/reading_list/computational_thinking.pdf' %}">Wing, Jeannette M. "Computational thinking." Communications of the ACM 49.3 (2006): 33-35</a></li>
      <li><a href="{% static 'assets/file/reading_list/a_few_usingful_things_to_know_about_machine_learning.pdf' %}">Domingos, Pedro. "A few useful things to know about machine learning." Communications of the ACM 55.10 (2012): 78-87.</a></li>
      <li><a href="{% static 'assets/file/reading_list/data_science_and_prediction.pdf' %}">Dhar, Vasant. "Data science and prediction." Communications of the ACM 56.12 (2013): 64-73.</a></li>
      <li><a href="{% static 'assets/file/reading_list/data_science_and_its_relationship.pdf' %}">Provost, Foster, and Tom Fawcett. "Data science and its relationship to big data and data-driven decision making." Big Data 1.1 (2013): 51-59.</a></li>
  </ul>
  <h2 class="underline">Toolboxes</h2>
  <ul>
      <li><a href="https://github.com/dsmilab/ssvm">Smooth Support Vector Machine Toolbox</a></li>
      <li><a href="https://github.com/dsmilab/KStat">Kernel Statistics Toolbox</a></li>
      <li><a href="https://github.com/dsmi-lab-ntust/AnomalyDetectionToolbox">Anomaly Detection Toolbox</a></li>
      <li><a href="https://github.com/fnaith/mpi_data_tool">MPI Toolbox</a></li>
  </ul>
  <h2 class="underline">Datasets</h2>
  {% for dataset in datasets %}
      <h3>{{ dataset.title }}</h3>
      <p>{{ dataset.description }}</p>
      <ul>
          {% for file in dataset.file_set.all %}
          <li><a href="{% static file.link %}">{{ file.label }}</a></li>
          {% endfor %}
      </ul>
  </div>
  </body>
  </html>
{% extends "homepage/base.html" %}
{% block content %}
{% load static %}
{% endfor %}
{% endblock %}
