<!DOCTYPE html>
<html>
<head>
    <title>DSMI</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Allerta|Hammersmith+One" rel="stylesheet">
</head>
<body>
<div class="container">
    <section class="header">
        <h1 class="text-center"><a href="/" id="name">Data Science and Machine Intelligence Lab</a></h1>
    </section>
    <nav>
        <div class="menuToggle menuToggle-m">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="menu menu-m text-center">
                <li><a href="/Yuh-Jye-Lee/">Yuh Jye Lee</a></li>
                <li><a href="/member/">Member</a></li>
                <li><a href="/downloads/">Downloads</a></li>
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}
</div>
</body>
</html>

