{% extends "homepage/base.html" %}
{% block content %}
<h2 class="underline">About</h2>
<p>The main research interests include machine learning and information security.</p>
<p>Machine Learning section includes:</p>
<ul>
    <li>Support Vector Machine</li>
    <li>Support Vector Regression</li>
    <li>Anomaly Detection</li>
    <li>Semi-supervised Learning</li>
    <li>Proposed and improvement of various algorithms</li>
</ul>
<p>Information Security section includes:</p>
<ul>
    <li>Intrusion Detection</li>
    <li>Botnet Detection</li>
    <li>Cloud Computing Security</li>
    <li>Various fields in the developments and applications of machine learning algorithms</li>
</ul>
<h2 class="underline">Contact Information</h2>
<ul>
    <li>Data Science and Machine Intelligence Laboratory</li>
    <li>Yuh Jye Lee: yuhjye@math.nctu.edu.tw</li>
    <li>SA 314, No.1001, Daxue Rd., East Dist., Hsinchu City 300, Taiwan (R.O.C.)</li>
</ul>
{% endblock %}
